[submodule "radeonrays"]
	path = radeonrays
	url = https://github.com/chokomancarr/RadeonRays_SDK
[submodule "mdvis/src/gif"]
	path = mdvis/src/gif
	url = https://github.com/ginsweater/gif-h.git
[submodule "libgwavi"]
	path = libgwavi
	url = https://github.com/chokomancarr/libgwavi.git
[submodule "oidn"]
	path = oidn
	url = https://github.com/OpenImageDenoise/oidn.git
